.navigation-bar{
    .navigation-header{
        font-size: 2rem;
        text-align: center;
        text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    }
    .navigation-link{
        background-color: beige;
        padding: 1rem;
        border-radius: 0.5rem;
        margin:  1rem 0;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
        @media screen and (max-width: 460px) {
            padding: 1rem 0.5rem;
         }
        .gen-btn{
            padding: 0.5rem 1rem;
            font-family: inherit;
            font-size: 1.2rem;
            background-color: rgb(245, 237, 237);
            color: rgb(112, 11, 11);
            border: none;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            &:not(:last-child){
                margin-right: 0.5rem;

            }
            @media screen and (max-width: 460px) {
                font-size: 1rem;
                padding: 0.4rem 0.8rem;
             }
        }
    }
}