.evolution{
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color:rgb(48, 53, 53) rgb(29, 26, 43);
    scrollbar-width: thin;
    @media screen and (max-width:900px) {
        padding: 0 1rem;
    }
    @media screen and (max-width:600px) {
        padding: 0 0.5rem;
    }
   
    
}
.error-msg{
    font-size: 1.5rem;
    color: aliceblue;
    
    
}

.evolution-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .evo-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        @media screen and (max-width: 600px) {
            margin-top: 0;
        }
        @media screen and (max-width: 460px) {
            margin-top: 1rem;
        }
        .poke-img{
            position: relative;
            .pokeball-bg{
                background:  url('/Images/pokeball/pokeball.svg') ;
                background-position: center;
                background-size: contain;
                opacity: 0.6;
                width: 8rem;
                height: 8rem;
                @media screen and (max-width:900px) {
                    width: 10rem;
                    height: 10rem;
                }
                @media screen and (max-width: 460px) {
                    width: 7rem;
                    height: 7rem;
                }
            }
            .pokemon-image{
                width: 7rem;
                height: 7rem;
                position: absolute;
                top: 0;
                left: 0;
                @media screen and (max-width:900px) {
                    width: 9rem;
                    height: 9rem;
                }
                @media screen and (max-width: 460px) {
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        .poke-name{
            text-transform: capitalize;
            color: #fff;
            font-size: 1rem;
            letter-spacing: 0.1rem;
            font-weight: 700;
            @media screen and (max-width:900px) {
                font-size: 1.2rem;
             }
        }
    }
}
.arrow{
    font-size: 2rem;
    color: #fff;
    @media screen and (max-width:900px) {
       font-size: 2.5rem;
    }
    
}